
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Edit Branch</h1>
    </div>



      <div class="col-lg-12">


        <!-- Basic Card Example -->
        <div class="card shadow mb-12">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Branch</h6>
          </div>
          <div class="card-body">

            <div class="table-responsive">

              <div class="alert alert-danger" *ngIf="invalidBranch" role="alert">

                <ul>
                  <li *ngFor="let error of errorList">
                    <strong>{{ error }}</strong>
                  </li>
                </ul>
              </div>

                <div  *ngIf="isSuccessful" class="alert alert-success"  role="alert">


                  <strong>{{ successMessage }}</strong>

                </div>


              <form class="user" action="post" [formGroup]="insertForm" (ngSubmit)="onSave()">
                <table class="table-striped" cellspacing="0" width="100%">

                  <tr>
                    <td>Branch</td>
                    <td>
                      <input  formControlName="Name" class="form-control float-sm-left" type="text" placeholder="Branch Name..." required autofocus />
                      <div *ngIf="Name.touched && Name.errors" class="errorMessage">
                        <span *ngIf="Name.hasError('required')">Branch name is required</span>
                      </div>

                    </td>

                  </tr>



                </table>


                <br />
                <div style="text-align: center;">
                  <button class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Save Now</span>

                  </button>
                </div>

              </form>

            </div>

        </div>
        </div>

      </div>
