
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Patient's Requisition</h1>
    </div>
      <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-12">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Requisition Details</h6>
          </div>
          <div class="card-body">

            <div class="table-responsive">

              <div class="user" >
                <table class="table-striped" cellspacing="0" width="100%">
                  <tr>
                      <td>Date</td>
                      <td>
                        <input value="{{User.dateSubmitted}}"  class="form-control float-sm-left" type="text" placeholder="Date..." disabled autofocus disabled />

                      </td>

                    </tr>
                      <tr>
                        <td>Referring Physician</td>
                        <td>
                          <input value="{{User.referringPhysician}}"  class="form-control float-sm-left" type="text" placeholder="Referring Physician..." disabled autofocus disabled/>

                        </td>

                      </tr>
                      <tr>
                        <td>Requisition Belongs To?</td>
                       <td>
                        <a [routerLink]="['/patientdetails',patientId]" >
                          {{patient}}
                        </a>
                        </td>

                      </tr>

                </table>

              </div>

            </div>

        </div>
        </div>

      <br/>
      </div>
                <br />
