
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">User</h1>
      </div>



        <div class="col-lg-12">


          <!-- Basic Card Example -->
          <div class="card shadow mb-12">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">User Details</h6>
            </div>
            <div class="card-body">

                  <div class="user" >

                          <div class="alert alert-danger" *ngIf="invalidUser" role="alert">

                              <ul>
                              <li *ngFor="let error of errorList">
                                  <strong>{{ error }}</strong>
                              </li>
                              </ul>
                          </div>

                          <div  *ngIf="isSuccessful" class="alert alert-success"  role="alert">


                            <strong>{{ successMessage }}</strong>

                          </div>

                  <div class="table-responsive">
                          <table class="table-striped"  cellspacing="0" width="100%">

                              <tr>
                                  <td>Fist name</td>
                                  <td>
                                      <input value="{{User.firstname}}" name="firstname" class="form-control float-sm-left" type="text" placeholder="Name..." disabled />
                                  </td>

                              </tr>
                              <tr>
                                  <td>Last name</td>
                                  <td>
                                      <input value="{{User.lastname}}" name="lastname" class="form-control float-sm-left" type="text" placeholder="last name..." disabled />
                                  </td>

                              </tr>
                              <tr>
                                  <td>Email</td>
                                  <td>
                                      <input value="{{User.email}}" name="Email" class="form-control float-sm-left" type="email" placeholder="Email..." disabled />
                                  </td>

                              </tr>
                              <tr>
                                  <td>Role</td>

                                        <td>
                                            <input value="{{User.userRole}}" name="UserRole" class="form-control float-sm-left" type="text" placeholder="user role..." disabled />
                                        </td>


                              </tr>
                              <tr>
                                <td>Branch</td>

                                      <td>
                                          <input value="{{User.branch}}" name="Branch" class="form-control float-sm-left" type="text" placeholder="user role..." disabled />
                                      </td>


                            </tr>
                              <tr>
                                      <td>Date Added</td>
                                      <td>
                                          <input value="{{User.dateAdded}}" name="Password" class="form-control float-sm-left" type="text" placeholder="Date..." disabled />
                                      </td>

                                  </tr>


                          </table>
                          <br/>
                          <div style="text-align: center;">
                              <a [routerLink]="['/edituser',id]"  class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                                </span>
                                <span class="text">Edit Now</span>
                              </a>
                          </div>
                  </div>

                </div>


          </div>
          </div>

        </div>
