
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Customer</h1>
      </div>



        <div class="col-lg-12">


          <!-- Basic Card Example -->
          <div class="card shadow mb-12">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Customer Details</h6>
            </div>
            <div class="card-body">

              <div class="user" >

                  <div class="alert alert-danger" *ngIf="invalidCustomer" role="alert">

                      <ul>
                      <li *ngFor="let error of errorList">
                          <strong>{{ error }}</strong>
                      </li>
                      </ul>
                  </div>

                  <div  *ngIf="isSuccessful" class="alert alert-success"  role="alert">


                    <strong>{{ successMessage }}</strong>

                  </div>


                  <div class="table-responsive">
                          <table class="table-striped"  cellspacing="0" width="100%">
                              <tr>
                                  <td>Customer Type</td>

                                  <td>
                                      <input value="{{Customer.customerType}}" class="form-control float-sm-left" type="text" placeholder="Customer Type" disabled/>
                                  </td>

                              </tr>
                              <tr>
                                  <td>Vehicle Reg.</td>
                                  <td>
                                      <input value="{{Customer.vehicleRegistration}}"  class="form-control float-sm-left" type="text" placeholder="Registration..." disabled/>
                                  </td>

                              </tr>
                              <tr>
                                  <td>Make</td>
                                  <td>
                                      <input value="{{Customer.make}}"  class="form-control float-sm-left" type="text" placeholder="Make..." disabled/>
                                  </td>

                              </tr>
                              <tr>
                                  <td>Description</td>
                                  <td>
                                      <input value="{{Customer.description}}"  class="form-control float-sm-left" type="text" placeholder="Description..." disabled/>
                                  </td>

                              </tr>

                              <tr>
                                      <td>Contact</td>
                                      <td>
                                          <input value="{{Customer.contact}}"  class="form-control float-sm-left" type="text" placeholder="Customer Contact" disabled/>
                                      </td>

                                  </tr>
                                  <tr>
                                      <td>Name</td>
                                      <td>
                                          <input value="{{Customer.fullName}}"  class="form-control float-sm-left" type="text" placeholder="Customer Names" disabled/>
                                      </td>

                                  </tr>

                          </table>
                      <br/>
                      <div style="text-align: center;">
                          <a [routerLink]="['/editcustomer',Customer.customerId]"  class="btn btn-success btn-icon-split">
                              <span class="icon text-white-50">
                              <i class="fas fa-check"></i>
                              </span>
                              <span class="text">Edit Now</span>
                            </a>
                      </div>

                  </div>

                </div>

              </div>

          </div>
          </div>





