

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Discount</h1>
      </div>



        <div class="col-lg-12">


          <!-- Basic Card Example -->
          <div class="card shadow mb-12">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Add Discount </h6>
            </div>
            <div class="card-body">

              <form class="user" action="post" [formGroup]="insertForm" (ngSubmit)="onSave()">

                  <div class="alert alert-danger" *ngIf="invalidDiscount" role="alert">

                      <ul>
                      <li *ngFor="let error of errorList">
                          <strong>{{ error }}</strong>
                      </li>
                      </ul>
                  </div>

                  <div  *ngIf="isSuccessful" class="alert alert-success"  role="alert">


                    <strong>{{ successMessage }}</strong>

                  </div>


                  <div class="table-responsive">
                          <table class="table-striped"  cellspacing="0" width="100%">
                              <tr>
                                  <td>Description</td>
                                  <td>
                                      <input formControlName="Description" class="form-control float-sm-left" type="text" placeholder="Discount Description..." required autofocus />
                                      <div *ngIf="Description.touched && Description.errors" class="errorMessage">
                                          <span *ngIf="Description.hasError('required')">Discount description is required</span>
                                        </div>
                                  </td>

                              </tr>
                              <tr>
                                  <td>Percentage</td>
                                  <td>
                                    <input formControlName="Percentage" class="form-control float-sm-left" type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"  placeholder="Percentage..." required autofocus />
                                    <div *ngIf="Percentage.touched && Percentage.errors" class="errorMessage">
                                      <span *ngIf="Percentage.hasError('required')">Percentage is required</span>
                                    </div>

                                  </td>

                                </tr>
                              <tr>
                                  <td>Customer Type</td>
                                  <td>
                                    <hr/>
                                      <div *ngFor="let type of customerTypes.list">
                                        <input  (change)="GetCutomerType($event, check)" [checked]="check" formControlName="CustomerType" value="{{type.name}}" type="checkbox" data-toggle="toggle">&nbsp;{{type.name}}
                                      </div>

                                        <div *ngIf="CustomerType.touched && CustomerType.errors" class="errorMessage">
                                                <span *ngIf="CustomerType.hasError('required')">Customer Type is required</span>
                                              </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Wash Type</td>
                                  <td>
                                    <hr/>
                                    <div *ngFor="let type of washTypes.list">
                                      <input  (change)="GetWashType($event, check)" [checked]="check" formControlName="WashType" value="{{type.name}}" type="checkbox" data-toggle="toggle">&nbsp;{{type.name}}
                                    </div>

                                      <div *ngIf="WashType.touched && CustomerType.errors" class="errorMessage">
                                              <span *ngIf="WashType.hasError('required')">Wash Type is required</span>
                                            </div>
                                </td>
                              </tr>
                              <tr>
                                <td>Vehicle Type</td>
                                <td>
                                  <hr/>
                                  <div *ngFor="let type of vehicleTypes.list">
                                    <input  (change)="GetVehicleType($event, check)" [checked]="check" formControlName="VehicleType" value="{{type.name}}" type="checkbox" data-toggle="toggle">&nbsp;{{type.name}}
                                  </div>

                                    <div *ngIf="VehicleType.touched && VehicleType.errors" class="errorMessage">
                                            <span *ngIf="VehicleType.hasError('required')">Vehicle Type is required</span>
                                          </div>
                              </td>
                            </tr>
                            <tr>
                                <td>Which Date?(Optional)</td>
                                <td>
                                    <input formControlName="OnWhichDate" class="form-control float-sm-left" type="date" placeholder="Which Date?..." />

                                </td>

                            </tr>
                            <tr>
                                <td>To Which Date?(Optional)</td>
                                <td>
                                    <input formControlName="ToWhichDate" class="form-control float-sm-left" type="date" placeholder="To Which Date?..." />
                                </td>

                            </tr>
                              <!--<tr>
                                  <td>Which Day?(Optional)</td>
                                  <td>
                                    <select formControlName="Day" class="form-control float-sm-left" [(ngModel)]="selectedDayOption">
                                      <option value="1">Monday</option>
                                      <option value="2">Tuesday</option>
                                      <option value="3">Wednesday</option>
                                      <option value="4">Thursday</option>
                                      <option value="5">Friday</option>
                                      <option value="6">Saturday</option>
                                      <option value="0">Sunday</option>
                                    </select>
                                  </td>
                              </tr>-->
                          </table>
                      <br/>
                      <div style="text-align: center;">
                          <button class="btn btn-success btn-icon-split">
                              <span class="icon text-white-50">
                              <i class="fas fa-check"></i>
                              </span>
                              <span class="text">Save Now</span>
                          </button>
                      </div>

                  </div>

             </form>

              </div>

          </div>
          </div>
          <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
            <p style="color: white">Please Wait... </p>
          </ngx-spinner>





