<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
            <a class="sidebar-brand d-flex align-items-center justify-content-center logo" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                  <i  style="color: #3366cc;" class="fas fa-flask fa-5x"></i>
                </div>
                <div class="sidebar-brand-text mx-3"><h3>Lancet eLab <sup>2</sup></h3></div>
              </a>
          <p class="mb-2 langing-page-text"><b>Lancet Laboratories is one of the leading pathology laboratories operating throughout Africa,
            providing vital diagnostic and monitoring pathology services in South Africa,
            Botswana, Ghana, Kenya, Mozambique, Nigeria, Swaziland, Tanzania, Uganda, Zambia, Zimbabwe.</b></p>


        </div>

        <hr>
        <div class="text-center">
          <a class="small" [routerLink]="['/login']"><b>Already have an account? Login!</b></a>
        </div>
      </div>
    </div>

  </div>

