<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
            <a class="sidebar-brand d-flex align-items-center justify-content-center logo" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                  <i  style="color: #ff6666;" class="fas fa-laugh-wink fa-5x"></i>
                </div>
                <div class="sidebar-brand-text mx-3"><h3>Activat <sup>2</sup></h3></div>
              </a>
          <p class="mb-2 langing-page-text"><b>Running your car wash business has never been this easy.Use Activat to run your daily car wash business tasks by a click of a button.</b></p>
            <p class="mb-2 langing-page-text"><b>Activat automates daily task seamlessly by making all the business processes effortless and smooth.</b></p>
          <p class="mb-2 langing-page-text"><b>Activat enables car wash owners to have a 360 degree view of their business by providing them with daily reports,stats,customer engagement while increasing their profitability.</b></p>
          <div class="text-center">
            <a id="pricing-link" class="small" [routerLink]="['/pricingplan']"><b>View Pricing Plans here!</b></a>
          </div>
        </div>

        <hr>
        <div class="text-center">
          <a  class="small" [routerLink]="['/register']"><b>Create an Account!</b></a>
        </div>
        <div class="text-center">
          <a class="small" [routerLink]="['/login']"><b>Already have an account? Login!</b></a>
        </div>
      </div>
    </div>

  </div>

