
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Discount</h1>
    </div>



      <div class="col-lg-12">


        <!-- Basic Card Example -->
        <div class="card shadow mb-12">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Discount Details</h6>
          </div>
          <div class="card-body">

            <div class="user" >

                <div class="alert alert-danger" *ngIf="invalidDiscount" role="alert">

                    <ul>
                    <li *ngFor="let error of errorList">
                        <strong>{{ error }}</strong>
                    </li>
                    </ul>
                </div>

                <div  *ngIf="isSuccessful" class="alert alert-success"  role="alert">


                  <strong>{{ successMessage }}</strong>

                </div>

                <div class="table-responsive">
                  <table class="table-striped"  cellspacing="0" width="100%">
                      <tr>
                          <td>Discount Desc.</td>
                          <td>
                            <input value="{{Discount.description}}"  class="form-control float-sm-left" type="text"  placeholder="Description..."  autofocus disabled/>
                          </td>
                      </tr>
                      <tr>
                          <td>Enabled?</td>
                          <td>
                              <input type="checkbox" class="form-control-input" id="defaultChecked2" [(ngModel)]="isDisabled" [ngModelOptions]="{standalone: true}" disabled/>
                          </td>
                      </tr>
                      <tr>
                          <td>Percentage</td>
                          <td>
                            <input value="{{Discount.percentage}}"  class="form-control float-sm-left" type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"  placeholder="Percentage..."  autofocus disabled/>
                          </td>
                        </tr>
                      <tr>
                          <td>Customer Type</td>
                          <td >
                            <hr/>
                              <div *ngFor="let type of customerTypes">

                                <input [(ngModel)]="type.isSelected" value="{{type.name}}" type="checkbox" data-toggle="toggle" disabled>&nbsp;{{type.name}}
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Wash Type</td>

                            <td >
                              <hr/>
                              <div *ngFor="let type of washTypes">

                                <input [(ngModel)]="type.isSelected" value="{{type.name}}" type="checkbox" data-toggle="toggle" disabled>&nbsp;{{type.name}}
                              </div>
                          </td>
                      </tr>
                      <tr>
                        <td>Vehicle Type</td>
                        <td>
                          <hr/>
                          <div *ngFor="let type of vehicleTypes">

                            <input [(ngModel)]="type.isSelected" value="{{type.name}}" type="checkbox" data-toggle="toggle" disabled>&nbsp;{{type.name}}
                          </div>

                        </td>

                    </tr>

                    <tr>
                        <td>Which Date?(Optional)</td>
                        <td>
                            <input value="{{Discount.onWhichDate}}"  class="form-control float-sm-left" type="text"  placeholder="Which Date?..."  autofocus disabled/>

                        </td>

                    </tr>
                    <tr>
                        <td>To Which Date?(Optional)</td>
                        <td>

                            <input value="{{Discount.toWhichDate}}"  class="form-control float-sm-left" type="text"  placeholder="To Which Date?..."  autofocus disabled/>

                        </td>

                    </tr>
                      <!--<tr>
                          <td>Which Day?(Optional)</td>
                          <td>
                            <input value="{{Discount.day}}"  class="form-control float-sm-left" type="text"  placeholder="Day?..."  autofocus disabled/>

                          </td>

                      </tr>-->


                  </table>
              <br/>
              <div style="text-align: center;">
                <button class="btn btn-danger btn-icon-split" (click)="deleteDiscount(id)">
                  <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                  </span>
                  <span class="text">Delete Now</span>
                </button>&nbsp;
                <a [routerLink]="['/editdiscount',id]"  class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Edit Now</span>
                  </a>

            </div>

          </div>

              </div>

            </div>

        </div>
        </div>





