
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Vehicle arrival</h1>
    </div>



      <div class="col-lg-12">


        <!-- Basic Card Example -->
        <div class="card shadow mb-12">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Payment Arrival</h6>
          </div>
          <div class="card-body">

                <form class="user"  >

                        <div class="alert alert-danger" *ngIf="invalidOrder" role="alert">

                            <ul>
                            <li *ngFor="let error of errorList">
                                <strong>{{ error }}</strong>
                            </li>
                            </ul>
                        </div>

                        <div  *ngIf="isSuccessful" class="alert alert-success"  role="alert">


                          <strong>{{ successMessage }}</strong>

                        </div>


                <div class="table-responsive">
                        <table class="table-striped"  cellspacing="0" width="100%">
                          <tr>

                            <td>Order #</td>
                            <td>
                              <input value="{{Order.orderNo}}"  class="form-control float-sm-left" type="text" placeholder="Order Number..." disabled />
                            </td>

                        </tr>
                            <tr>

                                <td>Vehicle Reg.</td>
                                <td>
                                    <a [routerLink]="['/customerdetails',Order.customerId]" >
                                      {{Order.vehicleRegistration}}
                                    </a>

                                </td>

                            </tr>

                            <tr>
                                <td>Wash Type</td>
                                <td>

                                      <input value="{{Order.washType}}" name="WashType" class="form-control float-sm-left" type="text" placeholder="Registration..." disabled />
                                </td>

                            </tr>
                            <tr>
                              <td>Vehicle Type</td>
                              <td>

                                    <input value="{{Order.vehicleType}}"  class="form-control float-sm-left" type="text" placeholder="Registration..." disabled />
                              </td>

                          </tr>
                            <tr>

                                    <td>Payment Method</td>
                                    <td>
                                              <input  name="PaymentMethod" value="{{Order.paymentMethod}}" class="form-control float-sm-left" type="text" placeholder="Registration..." disabled />

                                    </td>

                            </tr>
                            <tr>

                              <td>Amount In ZAR</td>
                              <td>
                                        <input  name="Amount" value="{{Order.amount}}" class="form-control float-sm-left" type="text" placeholder="Amount..." disabled />

                              </td>

                      </tr>
                      <tr>
                          <td>Customer</td>
                          <td>
                              <input value="{{Order.orderBelongsTo}}" class="form-control float-sm-left" type="text" placeholder="Customer Name" disabled/>
                          </td>

                      </tr>
                      <tr>
                        <td>Branch</td>
                        <td>
                            <input value="{{Order.branch}}" class="form-control float-sm-left" type="text" placeholder="Branch Name" disabled/>
                        </td>

                    </tr>

                      <tr>

                        <td>Created By</td>
                        <td>
                                  <input  name="CreatedBy" value="{{Order.createdBy}}" class="form-control float-sm-left" type="text" placeholder="CreatedBy..." disabled />

                        </td>

                      </tr>

                      <tr>

                        <td>Date Created</td>
                        <td>
                                  <input  name="DateCreatedToString" value="{{Order.dateCreatedToString}}" class="form-control float-sm-left" type="text" placeholder="Date Created..." disabled />

                        </td>

                </tr>



                        </table>
                    <br/>
                    <!--<div style="text-align: center;">
                      <a [routerLink]="['/editorder',Order.orderId]"  class="btn btn-success btn-icon-split">
                          <span class="icon text-white-50">
                          <i class="fas fa-check"></i>
                          </span>
                          <span class="text">Edit Now</span>
                        </a>
                  </div>-->
                </div>



            </form>
        </div>
        </div>

      </div>



